
@import "modal-styles";

body{
    background-color: #efefef;
    overflow: hidden;
}

.navbar{

    display: inline-block;
    background-color: #1a8cff;

    // margin-bottom: 50px;
    .container{
    
    .navbar-logo{
        padding: 5px;
        margin-bottom: 0;

        img{
        width: 45px;
        height: 45px;
        border-radius: 40%;
        border: 4px solid lightgrey;
        transition: all ease-in-out 0.3s;
        }
    }

     .navbar-logo:hover{

        padding: 5px;
        margin-bottom: 0;

        img{
        width: 45px;
        height: 45px;
        border-radius: 40%;
        border: 4px solid yellow;
        }
     }


    button{
        margin-right: 15px;
        border: 2px solid white;
        transition: all ease-in-out 0.3s;
    }

     button:hover{
        margin-right: 15px;
        border: 4px solid yellow;
    }

    .options-area{
        .navbar-nav{
            margin-left: auto;
            margin-right: 15px;

           li span{
               color: white;
               font-size: 1.2rem;
               transition: all ease-in-out 0.3s;
           } 

           li span:hover{
               font-weight: bold;
               color: yellow;
           }

        }
    }
   }
}




#settings-container{
    display: none;
    justify-content: center;
    border-top: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
    width:100%;
    position: absolute;
    margin-top: 70px;
    z-index: 3;
    div.option{
        margin-right:1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    // div.option.t1.color{
    
    // }

    // div.option.t2.color{

    // }


    // div.option{
        
    // }
    
    // div.option.\32 {
    // }
}


#t1-color-selector{
height: 1.2rem;
}

#t2-color-selector{
    height: 1.2rem;
}


#interactive-area{
        width: 100%;
        height: 86%;
        margin-top: 70.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
        position: absolute;
    #dashboard-logo{
        margin-top: 45px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
        img{
        border-radius: 80%;
        border: 5px solid lightgrey;
        transition: all ease-in-out 0.6s;
        }

        img:hover{
            border-radius: 80%;
            border: 5px solid yellow;
        }
}


}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


#loading-element{
    display: none;
    width: 4rem;
    height: 4rem;
    color: #1a8cff;
}


#chart-div{
    display: none;
    width: 100%;
    height: 80%;
    justify-content: center;
    position: absolute;
    top: 2.5rem;
    margin-top: 55px;
    
}

