
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  justify-items: center;
  align-content: center;

  form{

    width: 100%;


   .mb-3{
        justify-content:center;
        margin-bottom: .5rem !important;
    }


    .input-selector{
        justify-content:center;
    }


    .description-container{
        display: flex;
        justify-content: center;
        margin-bottom: .8rem;
        margin-top: .3rem;   
    }

  }

}




.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 700;
}








/////////Part of plot modal////////////////

#SLO-selector-plt{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
    padding: 8px;
    width: 80%;
    text-align: center;
    font-weight: 700;
}


#modal-SLO-description-plt{
    border-radius: .75rem;
    width: 80%;
    height: 50px;
    margin-bottom: .2rem;
}



#measure-selector-plt{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
    padding: 8px;
     width: 80%;
    text-align: center;
    font-weight: 700;
}


#modal-measure-description-plt{
    border-radius: .75rem;
    width: 80%;
    height: 50px;    
}


#start-selector-plt{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
    padding: 8px;
    width: 80%;
    text-align: center;
    font-weight: 700;
}


#end-selector-plt{
     border-radius: .75rem;
     border: 1px solid #0d6efd;
     padding: 8px;
     width: 80%;
    text-align: center;
    font-weight: 700;
}


#plotting-button{
    background-color: #0d6efd;
    font-weight:bolder;

}
////////////////////////////////////



/////////////Part of data modal//////////////

// #form-selector-section{
    
// }


#data-input-button{
    border: 1px solid #0d6efd; 
    font-weight:bolder;
}

#SLO-selector-data{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    width: 80%;
    text-align: center;
}

#modal-SLO-description-data{
    border-radius: .75rem;
    width: 80% !important;
}

#modal-measure-description-data{
    border-radius: .75rem;
    width: 80%;
    height: 30px;
}


#measure-selector-data{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
    padding: 8px;
    text-align: center;
    width: 80%;
    text-align: center;
    font-weight: 700;

}

#SLO-selector-target{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
    padding: 8px;
    text-align: center;
    width: 80%;
    text-align: center;
    font-weight: 700;
    margin-bottom: .5rem;
}

#data-input-button{

    background-color: #0d6efd;
    font-weight:bolder;
}

#academic-year-area{
    margin-bottom: 1rem !important;
}

#current-academic-year-tag{
    background-color: lightblue;
    font-weight: bolder;
    font-weight: 900;
}

#student-target-input{
    border-radius: .75rem;
    border: 1px solid #0d6efd;

}

#flexSwitchArea{
    display: flex;
    justify-content: center;
    .form-check-label{
        margin-left: 1.7rem;
    }
}

// #flexSwitchStudentPercentageCheck{
//     // margin-right:1.2rem;
// }

#number-of-students-input{
    border-radius: .75rem;
    border: 1px solid #0d6efd;

}

#number-of-students-met-input{
    border-radius: .75rem;
    border: 1px solid #0d6efd;

}

#percentage-of-students-met-input{
    border-radius: .75rem;
    border: 1px solid #0d6efd;
}


#result-description-container{
    .input-group-prepend{
        display: flex;
        width: 100%;

    }
}


#modal-SLO-description-data{
    border-radius: .75rem;
    width: 100%;
    height: 30px;

}


.invalid-feedback.selector{
    justify-content: center;
}

.invalid-feedback.inputfield{
    justify-content: flex-end;
}

// #dataInputModal > div > div > div.modal-body > form > div:nth-child(3) > div.input-group-prepend.ms-3{
//     margin-left: 0;
//     margin-right: 10px;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
// }